@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'VT323', sans-serif;
}
body {
  background-color: rgb(49, 133, 252, 0.75);
}
.calculator-grid {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}
.calculator-grid > button {
  cursor: pointer;
  font-size: 2.25rem;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.9);
}
.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, 0.75);
}
.double-span {
  grid-column: span 2;
}
.output-screen {
  grid-column: 1/-1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: 1rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output-screen #first-operand {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.5rem;
}

.output-screen #second-operand {
  color: rgba(255, 255, 255, 0.9);
  font-size: 2.5rem;
}
